.list-group-item.active:active, .list-group-item.active:hover, .list-group-item.active:visited {
    z-index: 2;
    color: #495057 !important;
    
}

.list-group-item.active:active, .list-group-item.active:hover, .list-group-item.active:visited, .list-group-item.active  {
    z-index: 2;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.125) !important;
    
}

.btn-success{
	
	background-color: #ff7000 !important;
    border-color: #ff7000 !important;
}

.btn-success:hover{

	background-color: #e06600 !important;
	border-color: #e06600 !important;
	transition: all .2s ease-in;
}

.btn-primary{
	
	background-color: #ff7000 !important;
    border-color: #ff7000 !important;
}

.btn-primary:hover{

	background-color: #e06600 !important;
	border-color: #e06600 !important;
	transition: all .2s ease-in;
}


/* Toglie gli spinner ai form per i numeri*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}