@charset "ISO-8859-1";

/* Per schermi medi */
@media (min-width: 600px) and (max-width: 899px) {
    nav {
        flex-direction: column;
    }
}

/* Stili per desktop (schermi di larghezza maggiore di 900px) */
@media (min-width: 900px) {
    nav {
        flex-direction: row;
    }
    
    nav a {
        margin: 0 10px;
    }
}

/* Stili del Carrello */
.card {
    margin: 20px auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.summary {
    background-color: #ff7000;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: #343a40;
}

.summary h5 {
    font-size: 1.5rem;
}

.summary .row {
    margin: 0;
}

.btn-checkout {
    background-color: #343a40;
    border-color: #343a40;
    width: 100%;
    font-size: 1rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 40px;
    color: white;
}

.btn-checkout:hover {
    background-color: #ff7000;
}

.empty-carrello {
    text-align: center;
    font-size: 1.5rem;
    color: #808080;
    margin-top: 20px;
}

.img-fluid {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.subtotale-item {
    margin-bottom: 10px; /* Se vuoi aggiungere uno spazio inferiore */
}