        .center-table { 
            display: flex; 
            justify-content: center; 
            margin-top: 20px; 
            margin-bottom: 20px;
        }
        .orange-button {
            background-color: #ff7000; 
            color: white; 
            border: none; 
            width: 30px; 
            height: 30px; 
            border-radius: 3px;
        }
        
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
         /* Modale*/
#add{
	background-color: #ff7000 !important;
	border: none !important;
}