@charset "ISO-8859-1";

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .slider-menu {
    float: none;
  }
}

body{
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #4B4080;
  padding: 20px 10px;
  margin:0px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}
.slider-menu {
	top: 0;
	right: 0;
	left:0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
    float:right;
}

.slider-menu>li.icon {
	font-weight:bolder;
	display: inline-flex;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	padding:20px 20px 20px 20px;
	color: #ff7000;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}

.slider-menu>li.icon:hover {
	font-weight: bolder;
	border-radius:100%;
	color: #4B4080;
	box-shadow: 0 70px 2px rgba(255, 112, 0, 0.50) inset;
}
.slider-menu>li.drop:hover {
	font-weight: bolder;
	border-radius:100%;
	color: #4B4080;
	box-shadow: 0 70px 2px rgba(255, 112, 0, 0.50) inset;
}

li.drop {
      list-style: none;
      display: inline-block;
      position: relative;
      text-decoration: none;
      	font-weight:bolder;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	padding:20px 20px 20px 20px;
	color: #ff7000;
	cursor: pointer;
	transition: 0.3s linear all;

    }

    ul li ul {
          
      visibility: hidden;
      opacity: 0;
      position: absolute;
       	  margin-right:150px;
	 padding-left: 0;
      left: 0;
      display: none;
      background: white;
      z-index: 1
    }
 li.dropdown a {
      color: #ff7000;
    }

    ul li:hover > ul,
    ul li ul:hover {
 	  position:absolute;
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 150px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
            list-style: none;
    }
    
     ul li ul li {
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #ff7000;
      transition: all 0.3s ease;
    }
    
    
    
  a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }
 
}
