.active{
	display: flex !important;
    justify-content: space-around !important;
}

/* Cambia il colore del pulsante */
button.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ff7000 !important;
    border-color: #ff7000 !important;
    color: white !important;
}

/* Frecce del carosello */
.carousel-control-prev, 
.carousel-control-next {
    width: 5%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

#carouselProdotti{
	padding: 0 15%;
}

/* Responsive: Mostra solo un'immagine per volta su schermi piccoli */
@media (max-width: 767px) {
    .carousel-inner {
        display: block; /* Passa da flex a blocco per schermi piccoli */
    }

    .carousel-item {
        width: 100%;
        height: 400px;/*aggiunto*/
    }

    .carousel-inner .carousel-item > div {
        display: block;
        width: 100%; /* Larghezza completa su dispositivi mobili */
    }

    .card {
        width: 100%;
    }
}

.carousel-control-prev{
	
	top:50% !important;
	margin:50px;
}
.carousel-control-next{
	
	top:50% !important;
	margin:50px;
}

.card-title{
	color:black !important;
	

}

a:hover{
	text-decoration:none !important;
}


