.dettagli-prodotto {
	margin-top: 40px;
}

.titolo-prodotto {
	font-size: 24px;
	font-weight: bold;
}

.prezzo-prodotto {
	color: #e74c3c;
	font-size: 22px;
}

/* Centra l'immagine */
.product-img {
	max-width: 100%;
	max-height: 300px;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
	display: block; /* Centra l'immagine nel contenitore */
}

.quantity-box {
	width: 70px;
}

.buy-btn {
	background-color: #007bff !important;
	color: white !important;
}

.buy-btn:hover {
	background-color: #28a745 !important;
	color: white !important;
	transition: all .2s ease-in;
}

.descrizione-prodotto {
	margin-top: 20px;
}

.review-section {
	margin-top: 40px;
}

.review-section h4 {
	margin-bottom: 20px;
}

.btn-primary {
	background-color: #ff7000 !important;
	border-color: #ff7000 !important;
}

