
/* Oscura l'immagine */
.out-of-stock {
    opacity: 0.5;
    filter: grayscale(100%);
}

/* Sovrapposizione per il testo "Out of Stock" */
.out-of-stock-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    color: red;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.dettagli-prodotto {
	margin-top: 40px;
}

.titolo-prodotto {
	font-size: 24px;
	font-weight: bold;
}

.prezzo-prodotto {
	color: #e74c3c;
	font-size: 22px;
}

/* Centra l'immagine */
.product-img {
	max-width: 100%;
	max-height: 300px;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
	display: block; /* Centra l'immagine nel contenitore */
	
}

.quantity-box {
	width: 70px !important;
}

.descrizione-prodotto {
	margin-top: 20px;
}

.review-section {
	margin-top: 40px;
}

.review-section h4 {
	margin-bottom: 20px;
}

.btn-primary {
	background-color: #ff7000 !important;
	width:70px!important;
	margin-left: 20px !important;

}
.aggiungi-al-carrello{
	background-color: #ff7000 !important;
	width:70px!important;
	margin-left: 20px !important;
}
.btn-primary:disabled {
    background-color: gray !important ;
    border-color: gray !important;
    cursor: default !important;
}

.modal-title {
  font-weight: bold;
}

.modal-body p.text-success {
  color: #28a745;
  font-size: 1.1rem;
}

.modal-body p.text-danger {
  color: #dc3545;
  font-size: 1.1rem;
}
