@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Sezione prodotti */
.section-products {
    padding: 50px 0 54px;
}

/* Stili per i link */
.section-products a {
    color: inherit; /* Mantiene il colore del genitore */
    text-decoration: none; /* Rimuove la sottolineatura */
}
.section-products a:hover {
    color: inherit;
    text-decoration: none;
}

/* Card prodotto */
.single-product {
    position: relative;
    padding-bottom: 50px; /* Spazio per il pulsante in basso */
    overflow: hidden;
}

/* Immagine del prodotto */
.product-image-wrapper {
    position: relative;
    display: inline-block;
}
.product-image {
    width: 100%;
    height: auto;
}
.out-of-stock {
    opacity: 0.5;
    filter: grayscale(100%);
    }
.out-of-stock-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    color: red;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/* Posizionamento immagine */
.section-products .single-product .part-1 {
    position: relative;
    height: 200px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}
.section-products .single-product .part-1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Titolo prodotto */
.product-title-wrapper {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
}
.product-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 1rem;
}
.product-title-wrapper:hover .product-title {
    animation: scrollHover 7s linear infinite;
    text-overflow: unset;
}
@keyframes scrollHover {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Prezzo prodotto */
.part-2 span {
    display: block;
    font-size: 1.2rem;
    color: #808080;
    margin-left: 10px;
}

/* Pulsante aggiungi al carrello */
.aggiungi-al-carrello {
    background-color: #ff7000;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.aggiungi-al-carrello:hover {
    background-color: #343a40;
    transition: all .1s ease-in;
}

.aggiungi-al-carrello:disabled {
    background-color: gray;
}

/* Paginazione */
.pagination .page-item .page-link {
    background-color: #ff7000;
    margin-left:10px;
    border-color: #ff7000;
    color: white;
}
.pagination .page-item.active .page-link {
    background-color: #343a40;
    border-color: #343a40;
    color: white;
}
.pagination .page-item .page-link:hover {
    background-color: #23272b;
    border-color: #23272b;
}
.page-link {
    color: white !important;
}
