body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: #f8f9fa;
  color: #333;
}

.container {
  max-width: 1200px;
}

.profile-card, .order-history  {
  background-color: #f8f9fa;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.order-card{
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease
}
.profile-card:hover, .order-history:hover, .order-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.profile-card h4, .order-history h4 {
  font-weight: 600;
  color: #ff7000;
}
.modal-title {
    color: #ff7000; /* Colore arancione per il titolo del modale */
    font-weight: 600;
}

#editProfileModal .btn-primary {
    background-color: #ff7000; /* Stesso arancione dei pulsanti principali */
    border: none;
}

#editProfileModal .btn-primary:hover {
    background-color: #cc5800; /* Arancione più scuro per hover */
}

.order-card ul {
  list-style: none;
  padding-left: 0;
}

.order-card ul li {
  margin-bottom: 0.5rem;
  color: #555;
}

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.edit-icon {
  color: #ff7000 !important; 
  cursor: pointer;
  transition: color 0.3s ease;
}

.edit-icon:hover {
  color: #cc5800 !important; /* Un colore leggermente più scuro per l'effetto hover */
}
#indirizzi-container{
	margin-top: 10px;
}
#open-modal {
  background-color: #ff7000; /* Colore arancione per abbinarsi ai titoli */
  color: #fff; /* Testo bianco */
  font-weight: 600; /* Testo leggermente più marcato */
  border: none; /* Rimuove il bordo predefinito */
  border-radius: 5px; /* Arrotonda i bordi */
  padding: 10px 20px; /* Margini interni per dimensione confortevole */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Animazioni per hover */
  
}

#open-modal:hover {
  background-color: #cc5800; /* Colore arancione più scuro per hover */
  transform: scale(1.05); /* Leggero zoom per effetto di enfasi */
}

#open-modal:focus {
  outline: none; /* Rimuove il bordo di focus predefinito */
  box-shadow: 0 0 5px 2px rgba(255, 112, 0, 0.5); /* Glow arancione per focus */
}


/* Responsività */
@media (max-width: 767px) {
  .profile-card, .order-history, .order-card {
    padding: 1rem;
  }
}
