body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem; /* Base font size */
}

.container {
  max-width: 1400px; /* Limita la larghezza del contenuto */
}

.profile-card, .order-history, .order-card {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 8px;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.profile-card h4, .order-history h4 {
  font-weight: lighter;
  color: #333;
}

.order-card ul {
  padding-left: 20px;
}

/* Elementi centrati per mobile */
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

/* Stile responsivo per schermi 4K */
@media (min-width: 2560px) {
  body {
    font-size: 1.25rem; /* Aumenta il font per 4K */
  }
  .profile-card, .order-history {
    padding: 2rem;
  }
  .order-card p, .profile-card p {
    font-size: 1.15rem;
  }
}

/* Responsività per desktop medio-grandi */
@media (min-width: 1200px) and (max-width: 2560px) {
  body {
    font-size: 1rem;
  }
}

/* Schermi medi (tablet, piccoli desktop) */
@media (min-width: 768px) and (max-width: 1199px) {
  .profile-card, .order-history {
    padding: 1.5rem;
  }
  .order-card p, .profile-card p {
    font-size: 1rem;
  }
  .text-md-right {
    text-align: right;
  }
}

/* Schermi piccoli (smartphone) */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 1rem;
  }
  
  .profile-card, .order-history, .order-card {
    padding: 1rem;
  }

  .profile-card h4, .order-history h4 {
    font-size: 1.25rem;
  }

  .order-card p, .profile-card p {
    font-size: 0.95rem;
  }

  /* Allineamento testi */
  .text-md-right {
    text-align: left;
  }
}
