body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: #f8f9fa;
  color: #333;
}

.container {
  max-width: 1200px;
}

.profile-card, .order-history, .order-card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.profile-card:hover, .order-history:hover, .order-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.profile-card h4, .order-history h4 {
  font-weight: 600;
  color: #ff7000;
}

.order-card ul {
  list-style: none;
  padding-left: 0;
}

.order-card ul li {
  margin-bottom: 0.5rem;
  color: #555;
}

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.edit-icon {
  color: #ff7000 !important; 
  cursor: pointer;
  transition: color 0.3s ease;
}

.edit-icon:hover {
  color: #cc5800 !important; /* Un colore leggermente più scuro per l'effetto hover */
}

/* Responsività */
@media (max-width: 767px) {
  .profile-card, .order-history, .order-card {
    padding: 1rem;
  }
}
